@model List<Product>
@{
    ViewData["Title"] = "Dest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <span class="text-grey fw-bold">Yeni Məhsullar</span>
            </div>
            <div class="col-lg-9 text-end">
                <span>
                    Bütün @ViewBag.Notice nəticə göstərilir
                </span>
                <p class="d-none" id="getvaluee">@ViewBag.id</p>
                <p class="d-none" id="getcidd">@ViewBag.cid</p>
                <form method="post">
                    <select name="" id="selectt" class="border br-5 outline-none py-2" aria-label="Sifariş">

                        <option value="4" selected="selected">Default</option>
                        <option value="1">Ən sonunculara görə sırala</option>
                        <option value="2">Qiymətə görə sırala: aşağıdan yüksəyə</option>
                        <option value="3">Qiymətə görə sırala: yüksəkdən aşağıya</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="border-top pt-5 mt-5">
            <div class="row">
                @foreach (var item in Model)
                {

                    <div class="single-product pt-3 col-lg-3 col-6">
                        <div class="border single-product-into position-relative ms-sm-4 br-5">
                            <div class="images-hover">
                                <a href="/shop/detail/@item.Id" class="">
                                    @foreach (var item2 in item.ProductImages)
                                    {
                                        if (item2.IsMain)
                                        {

                                            <img src="~/assets/img/product/@item2.ImageUrl" class="w-100" alt="">
                                        }
                                    }
                                </a>
                            </div>
                            <h6 class="text-center border-top py-3">
                                <a href="/shop/detail/@item.Id" class="text-decoration-none hover2 t-5 text-black">
                                    @item.Name
                                </a>
                            </h6>
                            @if (item.CreatedTime.Month == DateTime.Now.Month)
                            {
                                <span class="custom-badge">YENİ</span>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    var option = document.querySelectorAll("#selectt option")
    var id = document.getElementById("getvaluee").innerHTML
    console.log(id)
    for (i = 0; i <= option.length - 1; i++) {
        if (option[i].value == id) {
            option[i].setAttribute("selected", "true")
        }
    }
    $(document).ready(function () {

        $(document).on("change", "#selectt", function (e) {
            var iddm = $("#getcidd");
            var basee = window.location.origin;
            var urll = `${basee}/shop/dest/${$(iddm).html()}?sortId=${$(this).val()}`
            window.location.replace(urll)

        })
    })

</script>